<div class="container">
    <!-- navbar -->
  <nav>
      <div class="nav-item">
          <a routerLink="">Todo List</a>
      </div>
      <div class="nav_item">
          <ul>
              <li><a routerLink="login">Login</a></li>
              <li><a *ngIf="phnNumber" routerLink="register">Register</a></li>
              <li><a routerLink="dashboard">Add Events</a></li>
              <li><a routerLink="spinner">spinner</a></li>
          </ul>
      </div>
  </nav>
  <router-outlet></router-outlet>
</div>


